.nav-link{
    color: black!important;
}
.card-bg{
    
    border: none!important;   
}
.Nike-React{
    padding-top: 80px;
}
.Nike-React-Infinity{
    padding-top: 50px;
}
.title-one{
    color: orangered;    
}
.CASUAL-SHOES-title{
    padding-top: 150px;
    padding-bottom: 100px;
}
.dollar-sign{
    color: orangered;
}

.last-content{
    padding-top: 100px;
    padding-bottom: 100px;
}
.mrge{
    padding-bottom: 20px;
}
.last-icon{
    height: 90px;
    padding-right: 30px;
}
.XMLID-image{
    height: 330px;
    width: 550px;
}